@page "/chathub/{etId:int}"

@inject NavigationManager NavigationManager
@inject IPubs pubs
@inject UsrHub UsrHub
@inject ChatHub ChatHub
@inject IDialogService DialogService

@implements IDisposable

<MudFab StartIcon="@Icons.Material.Filled.Login"
        Label="Yeni"
        Color="Color.Error"
        Size="Size.Small"
        OnClick="deneme" />

HepsiniAra:
<input @bind="ChatText" />

@if (USP.UsrId != 0)
{
    <div style="margin:auto; width: fit-content;height:88vh">
        <table>
            <caption style="background-color: burlywood;">Etkinliklerim</caption>
            <tbody>
                @{
                    DateTime p = new(1, 1, 1);
                }
                @foreach (var e in ChatL)
                {
                    if (p != e.EXD.Date)
                    {
                        p = e.EXD.Date;
                        <tr>
                            <td colspan="9" class="tac">
                                <span class="tarih">@e.EXD.Date.ToString("dd.MMM.yy")</span>
                            </td>
                        </tr>
                    }

                    bool isOwn = USP.UsrId == e.UTid ? true : false;
                    string kim = isOwn ? "Ben" : UsrHub.UsrD[e.UTid].Usr;
                    <tr @key="e.ECid">
                        @if (isOwn)
                        {
                            <td class="info" data-kim="@kim">
                                <div>@e.Info</div>
                                <div class="saat">@e.EXD.ToString("HH:mm")</div>
                            </td>

                        }
                        else
                        {
                            <td class="info" data-kim="@kim">
                                <div>@kim</div>
                                <div>@e.Info</div>
                                <div class="saat">@e.EXD.ToString("HH:mm")</div>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


@code {
    [CascadingParameter] private UserStateProvider USP { get; set; }
    [Parameter] public int ETid { get; set; }
    List<ChatHub.ChatMdl> ChatL = new();
    private string ChatText { get; set; }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        //if (parameters.TryGetValue<UserStateProvider>(nameof(USP), out var value))
        //{
        //  if (value is null || value.UsrTyp != "A")
        //    NavigationManager.NavigateTo("");
        //  else
        //    await base.SetParametersAsync(parameters);  //Diger LifeCyle metodlarini cagiriyor
        //}
        await base.SetParametersAsync(parameters);  //Diger LifeCyle metodlarini cagiriyor
    }

    private void deneme()
    {
        ChatHub.AddChat(ETid, USP.UsrId, ChatText);
    }
    protected override void OnParametersSet()
    {
    }

    protected override void OnInitialized()
    {
        // Subscribe olmaya gerek yok.
        // UsrHub.UsrD degistiginde USP(parent) degistigi icin burayi refresh ediyor (OnParameterSet)
        // https://learn.microsoft.com/en-us/aspnet/core/blazor/components/lifecycle?view=aspnetcore-6.0#after-parameters-are-set-onparameterssetasync

        //pubs.Subscribe(Constants.UsrChangeEvnt, OnUsrChange);

        // Igili Etkinlik degisimlerini dinlemek gerek cunki USP yi etkilemiyor

        //ChatL = EtkHub.GetUsrEtks(USP.UsrId);
        ChatL = ChatHub.GetEtkChats(ETid);
        pubs.Subscribe($"Chat:{ETid}", ChatChangeHandler);
    }

    public void ChatChangeHandler(dynamic d)
    {
        InvokeAsync(StateHasChanged);
        //int etId = d.ETid;
        //if(ETid == etId)
        //{
        //    //ChatL = EtkHub.GetUsrEtks(USP.UsrId);
        //    InvokeAsync(StateHasChanged);
        //}
    }

    public void Dispose()
    {
        pubs.UnSubscribe(Cnst.ChatChangeEvnt, ChatChangeHandler);
    }

}

<style>
    .ug {
        display: grid;
        grid-gap: 4px;
        grid-template-columns: 100px 50px 200px;
        background-color: burlywood;
        /*color: #444;*/
        justify-content: center;
        align-content: center;
        /*height: 100px;*/
        /*overflow: auto;*/
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #edeeee;
    }

    [data-kim="Ben"] {
        background-color: beige;
        margin-left: 50px;
    }

    .tarih {
        font-weight: 900;
        margin: 4px;
    }

    .saat {
        align-self: flex-end;
        font-size: x-small;
        font-weight: 200;
    }

    .G {
        background-color: aliceblue;
    }

    .O {
        background-color: bisque;
    }

    .tal {
        text-align: left;
    }

    .tac {
        text-align: center;
    }

    .tar {
        text-align: right;
    }

    table, th, td {
        border: 1px solid none;
        /*border-collapse: collapse;*/
        padding: 0 4px;
    }
</style>

