@implements IDisposable

<UserStateProvider>

    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Bulunamadı</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Bu adresde birşey bulunamadı.</p>
            </LayoutView>
        </NotFound>
    </Router>
</UserStateProvider>

@code
{
    public void Dispose()
    {
    }

}